requests
librosa
matplotlib
nltk
notebook
numba
numpy
omegaconf
pandas
Pillow
psutil
pytorch-lightning
PyYAML
scikit-learn
scipy
sentence-transformers
sentencepiece
six
smart-open
SoundFile
sox
spacy
spacy-legacy
srsly
tensorboard
torch
torchaudio
torchmetrics
torchtext
torchvision
tqdm
transformers
typing-extensions
urllib3
wandb
